{% extends 'layout.html' %}

{% block title %}
    Todo List
{% endblock %}

{% block main %}
    <div class="container mt-4">
        
        <form id="todo-add-form" href="/" method="POST">
            <div class="input-group">
                    <input id="todo-add-caption" type="text" class="form-control" placeholder="Add todo" autocomplete="off" required aria-label="Add todo" aria-describedby="add-button">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit" id="add-button"><i class="fas fa-plus"></i></button>
                    </div>
            </div>
        </form>
        <div id="todo-items-container">
            {% for id, content in todo_items %}
                <div class="todo-item input-group">
                    <span class="todo-item-caption form-control">{{ content }}</span>
                    <div class="input-group-append">
                        <button class="btn btn-secondary todo-item-remove" type="button" id="{{ id }}"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
